<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.krijnschelvis.place2be">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name="nl.krijnschelvis.place2be.ui.authentication.SignInActivity"
            android:theme="@style/SignInTheme"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name="nl.krijnschelvis.place2be.ui.authentication.SignUpActivity"
            android:theme="@style/SignInTheme"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="nl.krijnschelvis.place2be.ui.main.MainActivity"
            android:theme="@style/MainTheme"
            android:exported="true"
            android:label="@string/app_name"
            android:noHistory="true"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
    </application>

</manifest>